<div id="mainFooter">
  <div class="bottomTray">
    <div class="containerBottomTray">
      <!-- close button -->
      <div class="closeButton"
      (click)="collapseTray()">
        X
      </div>

      <!-- title for the slider -->
      <div class="titleRow">
        <p>Episodes</p>
      </div>
      <!-- start carousel -->
      <div class="row">

        <div class="col-md-12">
          <div class="containerBottomTray">
            <div id="myCarousel" class="carousel slide">
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
              </ol>

              <!-- Carousel items -->
              <div class="carousel-inner">

                <div class="item active">
                  <div class="row-fluid">

                    <div *ngFor="let episode of episodes; let i=index" class="col-sm-6 col-md-3">
                      <template [ngIf]="i<4">
                      <a href="#x" class="thumbnail">
                        <div class="imageContainer">
                          <img class="bottomTrayThumb" src="../assets/img/key-of-the-spire.jpg" alt="Key of the Spire" />
                        </div>
                        <div class="caption">
                          <h3>{{episode.id}}: {{episode.title}}</h3>
                          <p>{{episode.synopsis}}</p>
                        </div>
                      </a>
                      </template>
                    </div>

                  </div><!--/row-fluid-->
                </div><!--/item-->

                <div class="item">
                  <div class="row-fluid">
                    <div *ngFor="let episode of episodes; let i=index" class="col-sm-6 col-md-3">
                      <template [ngIf]="i > 3 && i < 8">
                        <a href="#x" class="thumbnail">
                          <div class="imageContainer">
                            <img class="bottomTrayThumb" src="../assets/img/key-of-the-spire.jpg" alt="Key of the Spire" />
                          </div>
                          <div class="caption">
                            <h3>{{episode.id}}: {{episode.title}}</h3>
                            <p>{{episode.synopsis}}</p>
                          </div>
                        </a>
                      </template>
                    </div>
                  </div><!--/row-fluid-->
                </div><!--/item-->



              </div><!--/carousel-inner-->

              <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <div class="cButtonLeft"></div>
              </a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <div class="cButtonRight"></div>
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
