<div *ngFor="let episode of episodes; let i=index">
  <template [ngIf]="i==id">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-1">
        <div class="episodeTitle">
          <h1>Episode: {{episodeNumber}} | {{episode.title}}</h1>
          <img src="{{episode.thumbnail}}" alt="{{episode.title}}" role="img" />
        </div>

      </div>
      <div class="col-xs-12 col-sm-6">
        <article class="episodeSynopsis">
          <div [innerHTML]="episode.synopsis"></div>
        </article>

      </div>
    </div>

  </template>
</div>

<div class="error". *ngIf="errorMessage">{{errorMessage}}</div>
