.aboutSections {

  margin-top: -200px;
  padding-bottom: 50px;

  h1 {
    font-size: 3em;
    font-weight: bold;
  }

  img {
    width: 100%;
    height: auto;
  }

  p {
    font-size: 1.25em;
    color: floralwhite;
    a {
      color: #333;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &.a_tall_tale, &.familiar_world, &.dangerous_history {
    padding-top: 200px;
    background: #E7E7E7;
    p {
      color: #25414c;
    }
  }

  &.familiar_world {
    margin-top: 0;
    padding-top: 50px;
    background: goldenrod;
    p {
      color: #232323;
    }
  }

  &.dangerous_history {
    margin-top: 0;
    padding-top: 50px;
    background: #000;
    p {
      color: #c0c0c0;
      a {
        color: #ff0000;
        &:hover {
          color: #c42020;
        }
      }
    }
  }

}
