<div class="mainPageBackground">
  <img class="bg" src="assets/img/hero1.jpg" />
</div>

<div class="mainPageText">
  <h1>A Tall Tale's Beginning ...</h1>
  <p>As an eight episode Kindle Serial, <em>The Brothers Locke</em> provides the first look into the colorful, wild, weird, dangerous and fantastical world of <a href="" title="The Dea">The Dea</a>.</p>
  <p>Written for young adults and adults alike, the story picks up with identical triplet teenage boys who have fancies
  themselves "Master Thieves". Their first real job: to steal an item from The Miscellany, the self-appointed leader of
  the powerful metropolis known as Avidity.</p>
  <p>What they soon learn is that the item they are tasked to steal is much more important than the small sum of
  money they were offered to take it. Not long after their job is done do they find themselves involved with all manner
  of mercenary, monster and madmen who all have their own agendas regarding what was stolen.</p>
  <p>The team of Solas, comprised of the stout and determined Bulk Brown, the extremely capable Dana Strand, and the seven foot
  tall mercenary Bando, attempt to help the Locke Brothers in what turns out to be a journey that takes them across the
  magical land of The Dea and uncover ancient secrets that have long been hidden, now to come to light.</p>

  <h2>Familiar World. Unfamiliar Rules</h2>
  <p>The Dea is comprised of two halves, the East and the West, that are bisected by a natural (or supernatural) border made of
  storms, invisible walls and other barriers. The two sides have been at war on and off for centuries but now is a time of
  peace.</p>
  <p>The West remains in the darker half of the Dea, its sky always appearing at the brink of dusk or in full midnight black.
  Corruption of all sorts rule the West from delapidated cities to sprawling metropolis where the citizens trade their freedom
  for comfort to much more sinister territories where dark magic and monsters roam and rule.</p>
</div>
