.aboutSections {

  margin-top: -200px;
  padding-bottom: 50px;

  h1 {
    font-size: 5.25em;
    font-weight: bold;
  }

  img {
    width: 100%;
    height: auto;
  }

  p {
    font: 26px/44px "Crimson Regular",Georgia,Times,"Times New Roman",serif;
    color: floralwhite;
    margin-bottom: 40px;
    a {
      color: #333;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &.a_tall_tale, &.familiar_world, &.dangerous_history {
    padding: 20em 0;
    line-height: calc(28px * .75);
    background: #E7E7E7;
    p {
      color: #25414c;
    }
  }

  &.familiar_world {
    margin-top: 0;
    background: goldenrod;
    p {
      color: #232323;
    }
  }

  &.dangerous_history {
    margin-top: 0;
    background: #000;
    p {
      color: #c0c0c0;
      a {
        color: #ff0000;
        &:hover {
          color: #c42020;
        }
      }
    }
  }

}
