<div class="lock stepOne">
  <div class="gameTimer">
    <div class="timerText">{{ticksDisplay}}</div>
  </div>

  <div class="unlockedContainer" *ngIf="unlocked">
    <div class="message">
      <h1>Success!</h1>
      <p>You have opened this lock! Now proceed to the next.</p>
      <button class="btn btn-success" (click)="getNextLevel(2)">Press to Continue</button>
    </div>
  </div>

  <div class="failedContainer" *ngIf="failed">
    <div class="message">
      <h1>{{failedMessage}}</h1>
      <p>{{failedText}}</p>
      <button class="btn btn-failed" (click)="resetGame()">Press to Restart</button>
    </div>
  </div>
  <canvas #world></canvas>


</div>
