<div id="header">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img class="mainLogo" src="/assets/img/logo.png" alt="The Brothers Locke logo" /> </a>

        <!-- insert social media links -->
        <div class="mainSocialLinks">
          <ul>
            <li class="facebookBtn"><a href="https://www.facebook.com/aoestudios/" title="Facebook" target="_blank"></a></li>
            <li class="twitterBtn"><a href="https://twitter.com/aoestudios" title="Twitter" target="_blank"></a></li>
            <li class="googlePlusBtn"><a href="https://plus.google.com/+Aoestudios" title="Google+" target="_blank"></a></li>
            <li class="instagramBtn"><a href="https://www.instagram.com/aoestudios/" title="Instagram" target="_blank"></a></li>
          </ul>
        </div>
      </div>

      <!-- right side navigation
      this is the main navigation for the website -->
      <ul class="nav navbar-nav navbar-right">
        <li (click)="openEpisodes('episodes')"><a>Episodes</a></li>
        <li><a href="#" routerLink="/about" routerLinkActive="active">About</a></li>
        <li (click)="openCharacters()"><a>Characters</a></li>
        <li><a href="#" routerLink="/profile" routerLinkActive="active">Your Profile</a></li>
      </ul>
    </div>
  </nav>
</div>

<div id="mainBody">
  <router-outlet></router-outlet>
</div>


<app-sidebar></app-sidebar>
<app-footer></app-footer>
