<div #controlSidebar class="controlsSidebar" [@collapseOut]="stateExpression">
  <div *ngIf="!expanded" class="openMenuBtn display" (click)="sideTrayOpen()" role="button"></div>
  <div *ngIf="expanded" class="closeMenuBtn display" (click)="sideTrayClose()" role="button"></div>
  <h1>Items Found: 0</h1>
  <ul>
    <li data-type="key"><a href="#" routerLink="/safe-game" routerLinkActive="active">Key of the Spire</a></li>
    <li data-type="coin">Horsefly's Coin</li>
    <li data-type="cube">Data Cube</li>
    <li data-type="sight">Gift of Sight</li>
    <li data-type="hearing">Gift of Hearing</li>
    <li data-type="voice">Gift of Voice</li>
  </ul>
</div>
