body {
  padding-top: 70px;
  font-family: akrobatregular, sans-serif;
}

/* fonts */
@font-face {
  font-family: 'akrobatregular';
  src: url('assets/fonts/akrobat-regular-webfont.woff2') format('woff2'),
  url('/assets/fonts/akrobat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

#header {
  .navbar-default {
    background: none;
    border: none;
    .navbar-nav > li > a {
      color: #602828;
      font-family: akrobatregular, sans-serif;
      font-size: 1.25em;
      font-weight: bold;
      &:hover {
        border-bottom: 1px solid #602828;
      }
    }
  }
}

/** main page **/
.mainPageBackground img.bg{
  min-height: 100%;
  min-width: 1024px;

  width: 100%;
  height: auto;

  position: fixed;
  top: 0;
  left: 0;
}

img.mainLogo {
  margin: -15px 0 0 0;
  cursor: pointer;
}

.mainPageText {
  z-index: 2;
  position: absolute;
  padding: 20px 0 0 80px;
  width: 50%;
  h1, p {
    text-shadow: 2px 2px #000;
    color: white;
  }
  h1 {
    font-size: 4.25em;
    font-weight: 900;
  }
  p {
    font-size: 1.515em;

  }
}


/** bottom tray **/
.bottomTray {
  width: 100%;
  min-height: 100px;
  background: black;
  bottom: 0;
  z-index: 3;
  position: absolute;
  .container {
    margin: 12px 12px;
  }
}






/** media queries **/
@media screen and (max-width: 1024px)
{
  .mainPageBackground img.bg {
    left: 50%;
    margin-left: -512px; /* 50% */
  }
}
