body {
  padding-top: 170px;
  font-family: akrobatregular, sans-serif; }

/* fonts */
@font-face {
  font-family: 'akrobatregular';
  src: url("assets/fonts/akrobat-regular-webfont.woff2") format("woff2"), url("/assets/fonts/akrobat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

#header .navbar-default {
  background: none;
  border: none; }
  #header .navbar-default .navbar-nav > li {
    cursor: pointer; }
  #header .navbar-default .navbar-nav > li > a {
    color: #602828;
    font-family: akrobatregular, sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    -webkit-transition: all .5s;
    transition: all .50s; }
    #header .navbar-default .navbar-nav > li > a:hover {
      color: white;
      border-bottom: 1px solid #ffffff; }

/** main page **/
.mainPageBackground img.bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0; }

img.mainLogo {
  margin: -15px 0 0 0;
  cursor: pointer; }

.mainPageText {
  z-index: 2;
  position: absolute;
  padding: 20px 0 0 80px;
  width: 50%; }
  .mainPageText h1, .mainPageText p {
    text-shadow: 2px 2px #000;
    color: white; }
  .mainPageText h1 {
    font-size: 4.25em;
    font-weight: 900; }
  .mainPageText p {
    font-size: 1.515em; }

/** bottom tray **/
.thumbnail {
  height: 225px;
  background: #25414c;
  border: 1px solid #602828; }
  .thumbnail h1, .thumbnail h3, .thumbnail p {
    color: white; }

.bottomTray {
  width: 100%;
  min-height: 100px;
  background: black;
  bottom: -600px;
  z-index: 3;
  position: fixed; }
  .bottomTray .containerBottomTray {
    padding: 20px; }
    .bottomTray .containerBottomTray .closeButton {
      z-index: 10;
      position: fixed;
      color: white;
      cursor: pointer;
      margin: -20px 0 0 -13px; }
      .bottomTray .containerBottomTray .closeButton:hover {
        color: lawngreen; }
    .bottomTray .containerBottomTray .titleRow {
      width: 110%;
      background: #b22222;
      color: white;
      text-align: center;
      margin: -20px 0 10px -20px;
      padding: 8px 0; }
      .bottomTray .containerBottomTray .titleRow p {
        z-index: 2;
        position: absolute;
        font-size: 2em;
        width: 100%;
        text-align: center;
        margin-top: -12px; }
  .bottomTray .container {
    color: #ffffff;
    margin: 12px 12px;
    color: white; }
  .bottomTray .imageContainer {
    width: 100%;
    height: 80px;
    overflow: hidden; }
    .bottomTray .imageContainer img.bottomTrayThumb {
      width: 100%;
      height: auto;
      overflow: hidden;
      margin-top: -50px; }

/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel {
  margin-bottom: 0;
  padding: 0 40px 30px 40px; }

/* Reposition the controls slightly */
.carousel-control {
  left: -12px; }

.carousel-control.right {
  right: -12px; }

/* Changes the position of the indicators */
.carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px; }

/* Changes the colour of the indicators */
.carousel-indicators li {
  background: #c0c0c0; }

.carousel-indicators .active {
  background: #333333; }

.cButtonLeft, .cButtonRight {
  background: url("/assets/img/sprite-sheet.png") no-repeat top;
  background-position: 0 0;
  width: 60px;
  height: 60px;
  display: block;
  margin-top: 40%; }
  .cButtonLeft:hover, .cButtonRight:hover {
    background-position: 0 -60px; }
  .cButtonLeft:active, .cButtonRight:active {
    background-position: 0 -120px; }

.cButtonRight {
  margin-left: 75%;
  background-position: -60px 0; }
  .cButtonRight:hover {
    background-position: -60px -60px; }
  .cButtonRight:active {
    background-position: -60px -120px; }

/** media queries **/
@media screen and (max-width: 1024px) {
  .mainPageBackground img.bg {
    left: 50%;
    margin-left: -512px;
    /* 50% */ } }
