<div class="mainPageBackground">
  <img class="bg" src="assets/img/hero1.jpg" />
</div>

<div class="mainPageText">
  <h1>A Theft That Turns Into A Journey</h1>
  <p>The Brothers Locke is an eight episode Kindle series featuring
    three triplets who take on a job to steal from one of the
    richest and most powerful men in the world of The Dea.</p>

    <p>Little do they know that this single act will set into
    motion a series of events that will have consequences
    for their world for years to come.</p>
</div>
